@model WebTimeSheetManagement.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Change Password</div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    if (ViewBag.message != null)
                    {
                        <p class="alert alert-info" id="successMessage">@ViewBag.message</p>
                    }


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>OldPassword</label>

                        @Html.PasswordFor(model => model.OldPassword, new { @maxlength = "30", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })

                    </div>

                        <div class="form-group">

                            <label>NewPassword</label>

                            @Html.PasswordFor(model => model.NewPassword, new { @maxlength = "30", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            
                                <input type="submit" value="Update Password" class="btn btn-default" />
                            
                        </div>

                }

             
            </div>
        </div>
    </div>
</div>